<div class="split left">
    <div class="centered">
      <h1>Join a Quiz</h1>
      <button mat-fab color="primary" (click)="joinDialog()">
          <mat-icon aria-label="Join a quiz">arrow_forward</mat-icon>
      </button> 
    </div>
  </div>
  
  <div class="split right">
    <div class="centered">
      <h1 style="color:white;">Create a Quiz</h1>
      <button mat-fab style="color:black; background-color: #FFC107;" (click)="createDialog()">
        <mat-icon aria-label="Add a quiz">add</mat-icon>
      </button> 
    </div>
  </div>
  
  <!--<router-outlet></router-outlet>-->